.mapContainer {
    background-image: url('../../images/shokunin_World_Map.svg');
    height: calc(100vh - 64px);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    /* position: relative; */
}
.container {
    height: calc(100vh - 64px);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}